/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
}

.wrap{
	/*width: 320px;*/
	margin: 0 auto;
}

.menu_item {
    width: 90px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
    border-color: transparent;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.menu_item:hover {
    border: 2px #ffffff solid;
    border-radius: 20px;
}

.bg_top {
	background-image: url(../img/Desktop_min.png);
	background-repeat: no-repeat;
	background-position: center;
}

nav {
	padding-top: 20px;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}

.logo a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.content_top {
	color: #fff;
	text-align: center;
}
.content_top span{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
	display: inline-block;
}
.content_top h2 {
	font-size: 29px;
	line-height: 36px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

.content_top button {
	height: 40px;
	border: none;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: #ff4e50;
	border-radius: 30px;
	margin-bottom: 130px;
}
.content_top button:hover{
    color:  purple;
    background-color: yellow;
    border-color: purple;
}
.partners {
	padding-top: 60px;
	padding-bottom: 60px;
}

.partners h2 {
	display: inline-block;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}


.partners_item {
	margin-bottom: 35px;
	text-align: center;
}

.partners_item li {
	display: block;
	margin-bottom: 30px;
	width: 236px;
	position: relative;
}

.partners_item h3 {
	font-size: 14px;
	line-height: 17px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}

.partners_item p {
	font-size: 14px;
	line-height: 17px;
	color: #666;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.partners_item img {
	margin-bottom: 20px;
}

.partners_item li:first-of-type h3::before{
	content: url(../img/tv.png);
	position: absolute;
	left: 145px;
	top: 85px;
}

.partners_item li:nth-of-type(2) h3::before{
	content: url(../img/himm.png);
	position: absolute;
	left: 145px;
	top: 85px;
}

.partners_item li:nth-of-type(3) h3::before{
	content: url(../img/coffee.png);
	position: absolute;
	left: 145px;
	top: 85px;
}

.partners_item li:last-of-type h3::before{
	content: url(../img/telegram.png);
	position: absolute;
	left: 145px;
	top: 85px;
}

.partners button {
	height: 40px;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #ff4e50;
	border-radius: 30px;
	background-color: transparent;
	color: #ff4e50;
	margin: 0 auto;
}
.partners button:hover{
    color:  purple;
    background-color: yellow;
    border-color: purple;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.wrap {
	width: 768px;
	margin: 0 auto;
}

.bg_top {
	background-image: url(../img/Desktop_tablet.png);
	background-repeat: no-repeat;
	padding-top: 40px;
}


nav {
	padding: 0 50px;
	margin-bottom: 0px;
}

nav ul {
	margin-bottom: 0;
}

.logo {
	margin-bottom: 150px;
}

.content_top h2 {
	font-size: 52px;
	line-height: 62px;
	text-align: center;
	margin: 0 auto 30px;
}

.content_top span {
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
	margin-bottom: 30px;
}

.content_top button {
	width: 220px;
	height: 40px;
	margin-bottom: 230px;
	
}

.partners {
	padding-top: 70px;
	padding-bottom: 40px;
}

.partners h2 {
	margin-bottom: 30px;
	display: inline-block;
}

.partners_item {
	max-width: 532px;
}
}

@media screen and (min-width: 1200px){
	.wrap {
	width: 1200px;
	margin: 0 auto;
}

.bg_top {
	background-image: url(../img/Desktop_top.png);
	background-repeat: no-repeat;
	padding-top: 50px;
	-webkit-background-size: cover;
	background-size: cover;
}


nav {
	margin: 0 auto;
	margin-bottom: 160px;
}

nav ul {
	margin-bottom: 0;
}

.content_top h2 {
	font-size: 52px;
	line-height: 62px;
	margin: 0 auto 30px;
}

.content_top span {
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
	margin-bottom: 30px;
}

.content_top button {
	height: 40px;
	margin-bottom: 220px;	
}

.partners {
	padding-top: 70px;
	padding-bottom: 70px;
}

.partners h2 {
	margin-bottom: 40px;
}

.partners_item {
	margin-bottom: 40px;
}
}